@font-family-base: "Helvetica Neue","Helvetica","PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑","Arial",sans-serif;

@text-base-color: #4a4a4a;
@text-light-color: #7d7d7d;
@text-lightest-color: #9b9b9b;

@theme-color: #2fb791;
@border-color: #e8e8e8;
@lighter-color: rgba(0, 0, 0, .04);

@border-base: 1px solid @border-color;

// divider
@divider-spacing: 6px;
@divider-color: @border-color;

// list
@list-item-padding: 12px 20px 12px 18px;
@list-item-active-border: 2px;

// tab
@tab-active-border-weight: 2px;

// mask
@mask-background: rgba(0, 0, 0, .5);

// popover
@popover-min-width: 200px;
@popover-radius: 3px;
@popover-shadow: 0 1px 6px rgba(0, 0, 0, .2);

