@font-family-base: "Helvetica Neue","Helvetica","PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑","Arial",sans-serif;

@text-base-color: #4a4a4a;
@text-light-color: #7d7d7d;
@text-lightest-color: #9b9b9b;

@gray-color: #e8e8e8;
@gray-dark-color: darken(@gray-color, 10%);

@theme-color: #2fb791;
@border-color: @gray-color;
@lighter-color: rgba(0, 0, 0, .05);

@border-base: 1px solid @border-color;

// divider
@divider-color: @border-color;

// list
@list-item-padding: 12px 20px;
@list-item-padding-thin: 8px 20px;
@list-item-active-border: 3px;
@list-divider-spacing: 6px;

// tab
@tab-active-border-weight: 2px;

// mask
@mask-background: rgba(0, 0, 0, .5);

// popover
@popover-min-width: 150px;
@popover-radius: 3px;
@popover-shadow: 0 1px 6px rgba(0, 0, 0, .2);

// tooltip
@tooltip-padding: 6px 8px;
@tooltip-dark: #1b466f;
@tooltip-fontSize: 12px;
@tooltip-arrow: 6px;

// avatar
@avatar-rect-radius: 4px;
@avatar-size-start: 24px;
@avatar-size-step: 6px;
@avatar-color: @text-lightest-color;
@avatar-background: @gray-color;
@avatar-color-reverse: #fff;
@avatar-background-reverse: @text-lightest-color;

// chip
@chip-radius: 15px;
@chip-lg-fs: 14px;
@chip-md-fs: 13px;
@chip-sm-fs: 12px;
@chip-size-start: 24px;
@chip-size-step: 6px;
@chip-color: rgba(0,0,0,.7);
@chip-background: @gray-color;
@chip-background-hover: @gray-dark-color;
